.modal-content,
.modal,
.modal-dialog {
	display: block !important;
}
.progress { 
  height: auto;
  background-color: aliceBlue;
  i { line-height: 3.5em; }
}

.progress-bar { 
  transition: width 1s ease-in-out; 
}

 textarea {
  resize: none;
 }
  
 .correct {
  background: yellow;
 }
  
 .wrong {
  background: red;
 }